<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contador</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <h1>Counter</h1>
        <h2>{{contador}} Times</h2>
        <div class="contenedor">
            <form action="/two" >
                <input type="submit" name="" value="+2" class='Click'>
            </form>
            <form action="/reset" >
                <input type="submit" name="" value="reset" class="Reset">
            </form>
        </div>
    </body>
</html>